<div class="fondo">

  <div class="fondo container-fluid" id="inicio">
    <div class="image-container">
      <img src="jesusyale.jpg" alt="foto">
      <div class="overlay-text">Alejandra & Jesus</div>
    </div>
  </div>

  <div class="fondo container d-flex justify-content-center align-items-center">
    <div class="text-center">
    </div>
  </div>
  
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center justify-content-center mb-5">
        <div class="box box-1 d-flex flex-column align-items-center justify-content-center">
          <h4 class="otra-fuente mb-4">Padres de la novia</h4>
          <h5 class="otra-fuente">Pedro Antonio Aguilar Godoy</h5>
          <h5 class="otra-fuente">Cristina Fernanda Contreras Soliz</h5>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-center justify-content-center mb-5">
        <div class="box box-2 d-flex flex-column align-items-center justify-content-center">
          <h4 class="otra-fuente mb-4">Padres del novio</h4>
          <h5 class="otra-fuente">Pedro Antonio Aguilar Godoy</h5>
          <h5 class="otra-fuente">Cristina Fernanda Contreras Soliz</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5" id="itinerario">
    <div class="row">
      <!-- Div con Imagen -->
      <div class="col-md-6 d-flex align-items-center justify-content-center mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center">
          <img src="foto1.jpg" alt="Imagen de Padres de la Novia" class="img-fluid mb-3">
        </div>
      </div>
      <!-- Div sin Imagen -->
      <div class="col-md-6 d-flex align-items-center justify-content-center mb-5">
        <div class="custom-itinerario-box d-flex flex-column align-items-center justify-content-center">
            <h1 class="custom-itinerario-title mb-2">- Itinerario -</h1>
            <hr class="custom-hr-separator">
            <h3 class="custom-sub-title">Ceremonia religiosa</h3>
            <p class="custom-itinerario-details">
                Sábado 25 de Mayo<br>
                5:30 pm<br>
                Capilla nuestra señora del carmen
            </p>
            <button type="button" class="btn btn-outline-secondary">UBICACION</button>
            <hr class="custom-hr-separator">
            <h3 class="custom-sub-title mt-3">Fiesta</h3>
            <p class="custom-itinerario-details">
                Sábado 25 de Mayo<br>
                9:00 pm<br>
                Salon x
            </p>
            <button type="button" class="btn btn-outline-secondary">UBICACION</button>
            <p class="custom-dresscode mt-3">Dresscode: Riguoroso Formal<br>
              Mujeres: vestigo largo / Hombres: traje y corbata
            </p>
        </div>
    </div>
    
    </div>
  </div>
  <div class="fondo container-fluid" id="mesa-de-regalos">
    <div class="image-container-regalos">
    </div>
  </div>

  <div class="container mt-5" id="mesa-regalos">
    <div class="row">
      <!-- Div sin Imagen -->
      <div class="custom2 col-md-6 d-flex align-items-center justify-content-center mb-5">
        <div class="custom-itinerario-box d-flex flex-column align-items-center justify-content-center">
            <h1 class="custom-itinerario-title mb-2">- Mesa de regalos -</h1>
            <hr class="custom-hr-separator">
            <p class="custom-itinerario-details">
              su presencia es el mejor regalo par nosotros, si desean obsequiarnos algo en esta nueva etapa de matrimonio les compartimos nuestra mesa de regalos 
            </p>
            <h3 class="custom-sub-title"> Liverpool</h3>
            <p class="custom-itinerario-details">
              Codigo evento #1234
            </p>
            <button type="button" class="btn btn-outline-secondary">Link</button>
            <hr class="custom-hr-separator">
            <h3 class="custom-sub-title"> Coppel</h3>
            <p class="custom-itinerario-details">
              Codigo evento #4321
            </p>
            <button type="button" class="btn btn-outline-secondary">Link</button>
            <hr class="custom-hr-separator">
        </div>
      </div>
    
      <!-- Div con Imagen -->
      <div class="col-md-6 d-flex align-items-center justify-content-center mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center">
          <img src="imagen4.jpg" alt="Imagen de Padres de la Novia" class="img-fluid mb-3">
        </div>
      </div>
    </div>
  </div>
  
</div>
